USE [master]
GO
/****** Object:  Database [CarDealership]    Script Date: 10/30/2017 6:39:25 PM ******/
CREATE DATABASE [CarDealership]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CarDealership', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\CarDealership.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CarDealership_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\CarDealership_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CarDealership].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CarDealership]
GO
/****** Object:  Table [dbo].[Buyers]    Script Date: 10/30/2017 6:39:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Buyers](
	[BuyerID] [int] NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[LicenseNumber] [nvarchar](50) NULL,
	[PhoneNumer] [nvarchar](50) NULL,
 CONSTRAINT [PK_Buyers] PRIMARY KEY CLUSTERED 
(
	[BuyerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Car_Buyer]    Script Date: 10/30/2017 6:39:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Car_Buyer](
	[Car_BuyerID] [int] NOT NULL,
	[CarID] [int] NOT NULL,
	[BuyerID] [int] NOT NULL,
 CONSTRAINT [PK_Car_Buyer] PRIMARY KEY CLUSTERED 
(
	[Car_BuyerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Cars]    Script Date: 10/30/2017 6:39:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cars](
	[CarID] [int] NOT NULL,
	[VinNumber] [nvarchar](50) NULL,
	[CarMake] [nvarchar](50) NULL,
	[CarModel] [nvarchar](50) NULL,
	[ModelYear] [int] NULL,
 CONSTRAINT [PK_Cars] PRIMARY KEY CLUSTERED 
(
	[CarID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Car_Buyer]  WITH CHECK ADD  CONSTRAINT [FK_Car_Buyer_Buyers] FOREIGN KEY([BuyerID])
REFERENCES [dbo].[Buyers] ([BuyerID])
GO
ALTER TABLE [dbo].[Car_Buyer] CHECK CONSTRAINT [FK_Car_Buyer_Buyers]
GO
ALTER TABLE [dbo].[Car_Buyer]  WITH CHECK ADD  CONSTRAINT [FK_Car_Buyer_Cars] FOREIGN KEY([CarID])
REFERENCES [dbo].[Cars] ([CarID])
GO
ALTER TABLE [dbo].[Car_Buyer] CHECK CONSTRAINT [FK_Car_Buyer_Cars]
GO
USE [master]
GO
